@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: medium;
}

body {
  background-color: black;
  color: #fff;
}

.main-logo {
  /* width: 12vw; */
  display: inline-block;
  /* margin-left: 100px; */
  width: 190px;
  background-color: transparent;
}

.right-logo {
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.signout-box {
  display: flex;
  cursor: pointer;
  font-size: 0.9rem;
}

.signout-box span {
  margin-left: 10px;
}

.search_button {
  padding: 0px 30px;
  font-size: 1rem;
  margin-right: 10px;
  cursor: pointer;
}

.header {
  position: fixed;
  /* background-color: red; */
  width: 100%;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}


.login-img {
  position: absolute;
  z-index: -1;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  opacity: 0.5;
}

.login-form-main {
  background-color: rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.login-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.65); 
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  height: 724px;
  width: 380px;
  padding: 40px 40px;
}

.login-form h1 {
  margin-bottom: 20px;
  font-size: 2.2rem;
  color: #fff;
}

.inputs input {
  margin-block: 10px;
  display: block;
  width: 100%;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
}

.login-form button {
  padding: 13px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #ff1621;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.login-form button:hover {
  background-color: #be010a
}

.or {
  text-align: center;
  margin-block: 20px;
}

.sign-in-code {
  background-color: rgba(249, 249, 249, 0.2);
  padding: 14px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.sign-in-code:hover {
  background-color: rgba(238, 238, 238, 0.3);
}

.forgot {
  text-align: center;
  margin-block: 13px;
}

.remember {
  display: flex;
  margin: 10px 0;
}

.remember input{
  margin: 0px 0px 0px 0px;
  width: 40px;
  cursor: pointer;
  accent-color: white;
}

.last-section-login a {
  color: #fff;
}

.last-section-login {
  margin: 14px 0;
}

.para-3 {
  color: grey;
  font-weight: 500;
}

.para-4 {
  color: gray;
  margin-block: 20px;
  font-size: 0.9rem;
}


footer {
  background-color: rgba(9, 9, 9, 0.70);
  color: grey;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px;
  margin-top: 13px;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  margin-top: 30px;
  list-style-type: none;
}

footer ul li {
  padding: 10px 0;
}


@media (max-width : 610px) {
  .login-form-main {
    width: 100%;
    background-color: black;
  }
  .login-form {
    width: 100%;
    background-color: black;
    padding: 20px;
  }

  .header {
    background-color: black;
    padding: 0px 5px
  }

  .main-logo {
    position: relative;
    /* left: -50px; */
    width: 150px;
    margin-left: 15px;
  }
}

@media (max-width : 810px) {
  .main-logo {
    position: relative;
    /* left: -50px; */
    width: 150px;
    margin-left: 15px;
  }

  .header {
    padding: 0px 8px;
  }
}

.error {
  margin-bottom: 7px;
  color: #ff1621;
  font-family: "Inter";
  font-weight: 500;
  font-size: 0.8rem;
}



/* Browser */

.logOut {
  background-color: red;
  padding: 11px;
  margin-left: 10px;
  font-weight: bolder;
  border-radius: 5px;
  border: 2px solid transparent;
}

.logOut:hover {
  background-color: #fff;
  color: #be010a;
  border: 2px solid #be010a;
}

/* videoTitle */


.videoTitle {
  padding-top: 17%;
  padding-left: 40px;
  object-fit: cover;
  aspect-ratio: 16/9;
  background: linear-gradient(to right, black, transparent);
}

.videoTitle h1 {
  font-size: 4rem;
}

.videoTitle p {
  max-width: 700px;
  margin-block: 10px;
  font-size: 0.98rem;
}

.videoButtons {
  margin-top: 10px;
}

.videoButtons {
  display: flex;
}

.videoButtons button {
  margin: 5px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}


.btnTwo {
  background-color: gray;
  color: #Fff;

}

.btnTwo:hover {
  opacity: 0.6;
}

.info {
  font-size: 2rem;
  color: #fff;
}

.icon {
  margin-right: 5px;
}


/* iframe */

.main-container-hero {
  position: relative;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -120px;
  aspect-ratio: 16/9; 
  z-index: -1;
  object-fit: cover;
  border: none;
}

.black {
  background-color: #000;
}


/* movies card */


.movies {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  gap: 10;
}


.title_list {
  margin-top: 27px;
  margin-bottom: 5px;
  font-size: 2rem;
}

.movie_list_container {
  width: 96%;
  margin: 0 auto;
}

.movie_Card {
  padding: 2px 4px;
}

.movie_Card img {
  object-fit: cover;
  width: 180px;
}

.secondary-container {
  margin-top: -320px;
  z-index: 20;
  position: relative;
}